{
  express:
    staticPath: "build/www/"
    session:
      secret: "keyboard cat"
      key: "kekekeke"
      cookie:
        maxAge: 10000
        secure: false
    port: 2213

  elasticsearch:
    host: "172.18.5.60:9200"
  logger:
    providers: ['elasticsearch']
}
